@font-face {
  font-family: 'Calibre';
  src: url('/Calibre-Semibold.woff2') format('woff2');
  font-weight: 600; /* Semibold */
  font-style: normal;
  font-display: swap;
}

body {
  background: rgb(10, 25, 47);
  color: #fff;
  font-family: "NTR", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 150px auto;
  padding: 30px;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #64ffda;


}
h2{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #64ffda;
}
h3{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
p {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: left;;
  font-family: 'Calibre', sans-serif;

}
b{
  font-family: 'Calibre', sans-serif;
  color: #a8b2d1;
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: left;;
}
b2{
  color:#8892b0;
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: left;;
}
a {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.typing-animation {
  display: inline-block;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* 
.about-me {
  margin-top: 50px;
  text-align: center;
}

.about-me {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.about-me h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}

.about-me .list {
  text-align: left;
}
*/ 
.about-me p {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: left;
  color: #a8b2d1;
}


#fractal-tree {
  display: block;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 350px;
}

.about-me {
  margin-top: 50px;
  text-align: center;
}
.list{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
}

.software-creations {
  margin-top: 50px;
  text-align: left;
  margin-right: auto;
  position: relative;
}

.creation {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 40%;
  box-shadow:0 20px 20px rgba(0, 0, 0, 0.6), 0px 0px 50px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}
.creation:hover {
 box-shadow:  0 30px 30px rgba(0, 0, 0, 0.6), 0px 0px 70px rgba(0, 0, 0, 0.6);
}
.creation img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

.creation p{
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: left;
  color: #8892b0;
}

.creation h3 {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  color: #a8b2d1;
}

.creation p {
  font-size: 1em;
  text-align: center;
}

.highlight {
  color: #64ffda;
}

.cursor {
  color: #64ffda;
  display: inline-block;
  animation: blink 1s step-end infinite;
  font-size: 2.5em;

}

.about-me,
.software-creations {
  flex-direction: row;
  align-items:flex-start;
  width: 100%;
  text-align: left;
  position: relative;
}

.typing-animation {
  display: inline;
  animation: blink 1s step-end infinite;
}
.intro-text {
  font-family: 'Calibre', sans-serif;
  font-weight: bolder;
  font-size: 3.5em; 
  color: #64ffda; 
}
@media (max-width: 600px) {
  .intro-text {
      font-size: 35px;
  }
}


.button-container {
  position: relative;
}

.button {
  width: 5px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none; 
  outline: none;
  cursor: pointer;
  position: fixed; /* changed from absolute to fixed */
  bottom: 30px; /* changed from top to bottom */
  right: 50px; /* adjusted the position */
}


.button2-container {
  position: relative;
}
.button2{
  width: 5px; 
  height: 15px; 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  border: none; 
  outline: none; 
  cursor: pointer; 
  position: fixed; /* changed from absolute to fixed */
  bottom: 30px; /* changed from top to bottom */
  right: 20px; /* adjusted the position */
}

.list-columns {
  display: flex;
  justify-content: left;
  column-gap: 2rem;
}

.list-columns ul {
  list-style-type: none;
  padding: 0;
}

.list-columns li {
  position: relative;
  padding-left: 20px;
}

.list-columns li::before {
  content: ">";
  position: absolute;
  left: 0;
  color:#64ffda;
}

.button3-container {
  position: inherit;
}

.button3 {
  color: #64ffda;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 5px;
}
@media screen and (max-width:600px) {
  .button3 {
   opacity: 0;

  }
}


.octapp-gif {
  position: absolute;
  top: 50px;
  right: 150px;
  border-radius: 32px;
}

@media screen and (max-width: 900px) {
  .octapp-gif {
    top: 70px;
    right: 100px;
  }
}
@media screen and (max-width:600px) {
  .octapp-gif {
   bottom: 800px;
   left: 100px;
   width: 500px;
   height: 400px;
  }
}


.softwareCreationsButton, .aboutMeButton, .homeButton{
  font-family: 'SF Mono', Consolas, 'Courier New', monospace;
  position: fixed; /* Fixed/sticky position */
  top: 20px; /* Place the button at the top of the page */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

.homeButton {
  right: 375px; /* Place the button 30px from the right */
}

.aboutMeButton {
  right: 260px; /* Place the button 30px from the right */
}

.softwareCreationsButton {
  right: 125px; /* Place the button 30px from the right */
}

.homeButton .number1, .aboutMeButton .number2, .softwareCreationsButton .number3 {
  color: #64ffda;
}

.homeButton .text, .aboutMeButton .text, .softwareCreationsButton .text {
  color: #8892b0;
}

